@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* @media (prefers-color-scheme: dark) {
  .card {
    background-color: rgb(31 41 55);
  }
} */
[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
[data-theme="dark"] .card {
  background-color: rgb(31 41 55);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  min-height: 60px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

nav img {
  width: 40px;
  margin-right: 10px;
}

nav .banner {
  margin-right: auto;
  display: flex;
  align-items: center;
}

nav > a {
  margin-left: 10px;
  text-decoration: none;
  user-select: none;
}

nav > a:visited {
  color: rgb(var(--foreground-rgb));
}
nav > a > i {
  font-size: 1.5rem;
}
.pointer {
  cursor: pointer;
}

.container {
  padding: 10px 30px;
}

.container .sub {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  max-width: 24rem;
  min-width: 300px;
  min-height: 400px;
  /* border: 1px solid rgb(var(--foreground-rgb)); */
  border-radius: 4px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card img {
  max-width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card .content {
  padding: 30px 20px;
}

.card .content p {
  margin-bottom: 20px;
}

.button {
  background-color: rgb(37 99 235);
  border: none;
  user-select: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
}
.button.icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.button:hover {
  filter: brightness(90%);
}

.cards.articles {
  width: 105%;
}

.cards.articles .card {
  flex-basis: 30%;
}

.container .download {
  float: right;
}

.resume {
}
.resume .contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 0;
}
.resume .contacts p {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
a {
  text-decoration: none;
  user-select: none;
  color: rgb(var(--foreground-rgb));
}

.resume a .bi {
  font-size: 0.5rem;
  position: absolute;
  color: blue;
}
.bold {
  font-weight: 600;
}
.resume pre {
  padding: 10px;
}
.container.concise {
  max-width: 1000px;
}
@media only screen and (min-width: 600px) {
  .container.concise {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  nav img {
    display: none;
  }

  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav h2 {
    margin: 0;
  }
  nav a i {
    font-size: 2rem;
  }

  .container .sub h3 {
    text-align: center;
  }
  .cards.articles {
    width: 100%;
  }
  .cards.articles .card {
    flex-basis: 100%;
  }
  .resume .contacts {
    grid-template-columns: 1fr 1fr;
  }
  .theme-toggle {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  nav a {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  nav a:hover {
    background-color: #eff3f3;
  }
}
