$color_1: rgb(var(--foreground-rgb));
$color_2: #047dff;
$color_3: #969696;
$color_4: #fff;
$color_5: blue;
$color_6: red;
$font-family_1: "Times New Roman";
$font-family_2: "Times New Roman", Times, serif;
$background-color_1: rgb(31 41 55);
$background-color_2: rgb(37 99 235);
$background-color_3: rgb(37 99 180);

@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css";

/*
  1. Use a more-intuitive box-sizing model.
*/
/*
  2. Remove default margin
*/
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
/*
  5. Improve media defaults
*/
/*
  6. Remove built-in form typography styles
*/
/*
  7. Avoid text overflows
*/
/*
  8. Create a root stacking context
*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* @media (prefers-color-scheme: dark) {
  .card {
    background-color: rgb(31 41 55);
  }
} */
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/* .card.poem {
  max-width: 40rem;
  min-width: 400px;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: $color_1;
  background: rgb(var(--background-end-rgb));

  &:has(.modal) {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
}

picture {
  display: block;
  max-width: 100%;
}

video {
  display: block;
  max-width: 100%;
}

canvas {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
}

h1 {
  overflow-wrap: break-word;
}

h2 {
  overflow-wrap: break-word;
}

h3 {
  overflow-wrap: break-word;
}

h4 {
  overflow-wrap: break-word;
}

h5 {
  overflow-wrap: break-word;
}

h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

#__next {
  isolation: isolate;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --highlight-bg: #e4e4e4;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --highlight-bg: #323232;

  .home .card {
    background-color: $background-color_1;
  }
}

@layer {
  utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  min-height: 60px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    i {
      font-size: 1.5rem;
    }
  }

  .banner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fit {
    margin: 0 auto;
  }

  >a {
    text-decoration: none;
    user-select: none;
  }

  h2 {
    text-decoration: none;
    user-select: none;
  }

  * {
    &:hover {
      color: $color_2;
    }
  }
}

a {
  &:not(.button) {
    &:hover {
      color: $color_2;
    }
  }

  text-decoration: none;
  user-select: none;
  color: $color_1;
}

.pointer {
  cursor: pointer;
}

.container {
  padding: 10px 30px;

  .sub {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .download {
    float: right;
  }
}

.home .cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rotating {
  animation: rotating 2s linear infinite;
}

.home .card {
  position: relative;
  max-width: 20rem;
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  img {
    max-width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    min-height: 200px;
  }

  div.cover {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: linear-gradient(#e66465, #9198e5);
  }

  .cover.spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 2rem;
      color: $color_2;
    }
  }

  .content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    p {
      margin-bottom: 10px;
    }

    .time {
      color: $color_3;
      align-self: flex-end;
    }
  }

  .control {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    right: 10px;
  }

  .read-more {
    cursor: pointer;
  }

  .tags {
    display: flex;
    gap: 4px;
    align-items: center;

    .tag {
      cursor: pointer;
      color: $color_2;
      font-size: 0.8rem;
      text-transform: lowercase;
    }
  }

  .share-control {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    display: flex;
    gap: 0.25rem;
  }
}

.home .card.poem {
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.8rem;
    overflow-y: auto;
    max-height: 500px;
  }
}

.home .card.poem.full {
  pre {
    font-family: $font-family_1;
  }

  max-width: 800px;
}

.share-control {
  i {
    padding: 0.25rem;
    color: $color_4;
    cursor: pointer;
    background: #333;
  }
}

.button {
  background-color: $background-color_2;
  border: none;
  user-select: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding: 0.5rem;
  color: $color_4;
  text-decoration: none;

  &:hover {
    background-color: $background-color_3;
  }
}

.button.icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.home .cards.articles {
  width: 105%;

  .card {
    flex-basis: 30%;
  }
}

.resume {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0;

    p {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }
  }

  a {
    .bi {
      font-size: 0.5rem;
      position: absolute;
      color: $color_5;
    }
  }

  pre {
    padding: 10px;
  }
}

.bold {
  font-weight: 600;
}

.container.concise {
  max-width: 1000px;
}

.modal.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000ee;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal {
  .container {
    padding: 10px;
    max-height: calc(100vh - 100px);

    .card {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    &.inverted {
      background: #fff;
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: $color_4;
    font-size: 1.5rem;
  }
}

.news-modal {
  .container {
    overflow-y: scroll;
  }

  .newses {
    flex-direction: column;
  }
}

.full-cover {
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(#e66465, #9198e5);

  .content {
    margin: 4rem;
    background: rgb(var(--background-end-rgb));
    min-height: calc(100% - 8rem);
    padding: 20px;
    box-shadow: 0px 0px 12px 2px #7640a1;
    border-radius: 0.5rem;
  }
}

.header {
  text-align: center;
}

div.center {
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.organize {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .carousel {
    position: relative;

    i {
      position: absolute;
      top: 50%;
      font-size: 2rem;
      z-index: 10;
      cursor: pointer;

      &.left {
        left: 1rem;
      }

      &.right {
        right: 1rem;
      }
    }
  }

  .newses {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
    scroll-padding: 0 16px;
    padding: 0 16px;

    .news {
      width: 300px;
      height: 300px;
      max-width: 100%;
      flex-shrink: 0;
      align-items: end;
      padding: 16px 20px;
      margin-right: 0.6rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .quote {
    .author {
      // float: right;
    }

    blockquote {
      font-size: 2rem;
      font-family: $font-family_2;
    }
  }

  .notes {
    .note.done {
      color: $color_6;
      font-style: italic;
    }

    .note.highlight {
      background-color: var(--highlight-bg);
    }
  }

  .pane {
    display: flex;
    width: 100%;
    gap: 8px;

    >* {
      flex-basis: 50%;
      padding: 0 20px;
    }

    .notes {
      ul {
        list-style: none;
        padding: 10px 0;

        li {
          height: 2rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 2px 4px;

          &:hover {
            background-color: var(--highlight-bg);
          }
        }
      }

      input {
        width: 100%;
        font-size: 1.5rem;
        padding: 2px;
      }
    }
  }
}

.side-links {
  display: flex;
  gap: 8px;
}

.side-links-mobile {
  display: none;
}

.note-ctr {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  i {
    color: #07d371;
    font-size: 1.25rem;
  }
}

.empty-records {
  text-align: center;
  width: 100%;
  height: 100%;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h4 {
    text-transform: capitalize;
  }

  h3 i,
  h3 small {
    float: right;
    color: $color_2;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
  }

  .cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .card {
      position: relative;
      width: 160px;
      height: 160px;
      background: #ffcc11;
      border-radius: 0.5rem;
      padding: 10px;
      color: #333;

      .text {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }

      i {
        position: absolute;
        right: 0.25rem;
        top: 0px;
        font-size: 1rem;
        cursor: pointer;
        font-weight: bold;

        &.move {
          right: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .container.concise {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    img {
      display: none;
    }

    flex-direction: column;
    justify-content: center;
    gap: 2px;

    h2 {
      margin: 0;
    }

    a {
      i {
        font-size: 1.5rem;
      }

      display: flex;
      width: 100%;
      margin-left: 0px;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
    }

    a.link:hover {
      background-color: var(--highlight-bg);
    }
  }

  .container {
    .sub {
      h3 {
        text-align: center;
      }
    }
  }

  .home .cards.articles {
    width: 100%;

    .card {
      flex-basis: 100%;
    }
  }

  .resume {
    .contacts {
      grid-template-columns: 1fr 1fr;
    }
  }

  .theme-toggle {
    position: absolute;
    right: 10px;
    top: 0px;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .banner {
    justify-content: center;
  }

  .modal.overlay {
    padding: 0 10px;
  }

  .share-control {
    right: 0;
    top: 0;
  }

  .home .card.poem {
    pre {
      max-height: 300px;
    }
  }

  .full-cover {
    .content {
      margin: 1rem;
      min-height: calc(100% - 2rem);

      blockquote {
        font-size: 1rem;
      }

      .pane {
        flex-direction: column;
      }
    }
  }

  .side-links-mobile {
    display: flex;
    gap: 0.6rem;
  }

  .side-links {
    display: none;
  }
}